# Core dependencies for model inference and data processing
pandas==2.2.2
numpy==2.0.2
matplotlib==3.10.0
seaborn==0.13.2
scikit-learn==1.6.1
tensorflow==2.18.0
joblib==1.4.2
plotly==5.13.0
# Dependencies for data visualization and analysis

# Additional dependencies for the Streamlit app and testing
streamlit>=1.16.0
requests>=2.27.1
pytest>=7.0.1
python-dotenv>=1.0.0
