# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# IDE/editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# Docker
.env
*.env

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store